body {
  font-family: 'Habibi', serif;
  font-size: 14px;
  line-height: 20px;
  background-color: #DDDDDD;
  color: #333;
  margin: 0px;
}
a {
  color: #666;
}
a:hover {
  text-decoration: none;
  color: #777;
}
p {
 margin: 8px 0px;
}
img {
  float: right;
  margin: 5px 5px 15px 15px;
  box-shadow: 2px 5px 10px #222;
}
#pageHeader {
  height: 110px;
  background-color: #555;
}
#pageHeader h1{
  margin: 0px auto;
  font-size: 48px;
  line-height: 56px;
  width: 600px;
  padding: 10px 100px;
}
#pageHeader h1 a{
  color: #ddd;
  text-shadow: 0px 1px 2px black;
  text-decoration: none;
}
#pageHeader h2{
  font-size: 18px;
  line-height: 24px;
  color: #ccc;
  text-shadow: 0px 1px 2px black;
  width: 600px;
  margin: 0px auto;
  padding: 0px 100px;
}
article header h1 {
  font-size: 24px;
  margin: 8px 0px;
}
article header {
  font-size: 12px;
  margin: 8px 0px;
  color: #777;
}
article header a {
  text-decoration: none;
  color: #333;
}
article {
  padding-top: 10px;
  padding-bottom: 30px;
}
nav {
  background-color: #aaa;
}
nav ul {
  margin: 0px auto;
  width: 710px;
  padding-left: 90px;
  height: 41px;
}
nav li {
  list-style-type: none;
  text-align: center;
  display: inline;
}
nav a {
  padding: 10px;
  line-height: 41px;
  font-size: 16px;
  color: #222;
  text-shadow: 0px 1px 2px white;
  text-decoration: none;
}
nav a:hover {
  background-color: #888;
  color: #000;
}
blockquote {
  color: #666;
  border-left: 2px solid #bbb;
  padding-left: 14px;
  margin: 6px 12px;
}
pre {
  color: #eee;
  background-color: #111;
  padding: 10px 20px;
  margin: 10px 0px;
  font-family: 'Inconsolata', monospace;
}
.normalContent {
  width: 600px;
  padding: 10px 100px;
  margin: 0px auto;
}
.firstLetter {
  float: left;
  font-size: 60px;
  line-height: 60px;
  padding-right: 6px;
}
#loginForm {
  width: 600px;
  padding-top: 50px;
  padding-right: 150px;
  margin: 0px auto;
}
#prevNextPage {
  width: 800px;
  margin: 0px auto;
  height: 20px;
  font-size: 12px;
}
#nextPage {
  padding-right: 100px;
  width: 200px;
  text-align: right;
  float: right;
}
#prevPage {
  padding-left: 100px;
  width: 200px;
  float: left;
}
.adminText {
  resize: none;
  width: 388px;
  height: 388px;
  padding: 5px;
  border: 1px solid #888;
  margin-left: 125px;
  margin-top: 8px;
  font-family: 'Inconsolata', monospace;
  font-size: 14px;
}
.adminString {
  font-family: 'Habibi', serif;
  width: 388px;
  height: 20px;
  padding: 5px;
  border: 1px solid #888;
  margin: 8px 0px;
  font-size: 16px;
}
.submitButton {
  height: 40px;
  width: 80px;
  padding: 10px;
  margin-right: 30px;
  background-color: #aaa;
  font-family: 'Habibi', serif;
  font-size: 18px;
  color: #222;
  text-shadow: 0px 1px 2px white;
  border-style: solid;
  border-width: 1px;
  border-color: #222;
  display: inline-block;
  float: left;
}
.deleteButton {
  color: #222;
  text-decoration: none;
  background-color: #aaa;
  font-size: 18px;
  text-shadow: 0px 1px 2px white;
  padding: 9px 15px 8px 15px;
  margin: 0px;
  border-style: solid;
  border-width: 1px;
  border-color: #222;
  display: inline-block;
  float: right;
}
.theButtons {
  height: 40px;
  width: 225px;
  margin: 0px 15px 0px 285px;
}
.submitButton:hover {
  background-color: #888;
  color: #000;
}
.deleteButton:hover {
  background-color: #888;
  color: #000;
}
#adminContent{
  padding: 15px 0px;
  width: 850px;
  height: 620px;
  margin: 0px auto;
}
.adminEditor {
  width: 525px;
  float: left;
}
.adminNoLinks {
  width: 525px;
  padding-right: 125px;
  margin: 10px auto;
}
.adminLinks {
  width: 300px;
  height: 610px;
  margin-left: 15px;
  margin-right: 0px;
  padding: 5px;
  overflow: auto;
  float: right;
}
.imageEditLinks {
  padding-left: 125px;
}
.imageEditLinks:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.imageEditThumb {
  height: 100px;
  width: 100px;
  text-align: center;
  line-height: 100px;
  float: left;
}
.imageEditThumb img{
  float: none;
  margin: 0px;
  vertical-align: middle;
}
.textDescriptor {
  line-height: 20px;
  width: 109px;
  padding: 8px;
  text-align: right;
  font-size: 12px;
  display: inline-block;
}
.linkDescriptor {
  line-height: 14px;
  width: 117px;
  padding-right: 8px;
  text-align: right;
  font-size: 12px;
  display: inline-block;
}
.editorAlert {
  line-height: 20px;
  padding-left: 140px;
  font-size: 14px;
}
.navAdminGroup {
	padding: 20px 0px;
}
.navAdminOptions {
	padding-left: 125px;
}